:root {
  /* Variables */
  --white: #feffff;
  --off-white: ##f7fdfd;
  --main: #3aafa9;
  --off-black: #2b7a79;
  --black: #17252a;

  --normal: 400;
  --bold: 700;

  --default-transition: 0.5s;

  /* Defaults */
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
}

/* Theme */

::selection {
  background: var(--main);
}

body {
  background: var(--off-white);
}

header {
  margin-top: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--bold);
}

h2 {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

a {
  color: var(--main);
  font-weight: var(--bold);
  text-decoration: none;
  transition: color var(--default-transition);
}

a:hover {
  color: var(--off-black);
}

button {
  padding: 1rem;
  height: 100%;
  border-radius: 1px;
  border: 3px solid var(--main);
  background: var(--white);
  color: var(--main);
  font-weight: var(--bold);
  transition: all var(--default-transition);
}

button.primary {
  background: var(--main);
  color: var(--white);
}

button:hover {
  cursor: pointer;
  --hover-amount: -0.15rem;
  transform: translate(var(--hover-amount), var(--hover-amount));
  box-shadow: calc(0px - var(--hover-amount)) calc(0px - var(--hover-amount))
    calc(5px - var(--hover-amount)) 0px rgba(23, 37, 42, 0.2);
}

/* Generic Components */

.app {
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background: var(--white);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-left: 5px solid var(--main);
  box-shadow: 3px 3px 8px 0px rgba(23, 37, 42, 0.2);
}

/* News Component */
.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* News Card Component */
.news-card {
  height: 100%;
  padding: 0;
  margin-bottom: 0;
  transition: all var(--default-transition);
}

.news-card:hover {
  --hover-amount: -0.25rem;
  transform: translate(var(--hover-amount), var(--hover-amount));
  box-shadow: calc(3px - var(--hover-amount)) calc(3px - var(--hover-amount))
    calc(8px - var(--hover-amount)) 0px rgba(23, 37, 42, 0.2);
}

.news-card img {
  width: 100%;
}

.news-card div {
  padding: 2rem;
}

.news-card h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--black);
}

.news-card p {
  font-size: 1.25rem;
  font-weight: var(--normal);
  color: var(--black);
}

/* Sources component */
.sources-card {
  display: flex;
  justify-content: space-between;
}

.sources-card p {
  font-size: 1.25rem;
}

.sources-card strong {
  display: block;
  padding-top: 0.25rem;
  font-size: 1.5rem;
}

.sources-card .buttons button {
  margin-left: 1rem;
}

/* Edit Source Card */

.edit-source-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2rem;
}

.edit-source-card label {
  font-size: 1.25rem;
  font-weight: var(--bold);
  line-height: 2;
}

.edit-source-card input {
  display: block;
  width: 100%;
  border-radius: 1px;
  border: 2px solid var(--off-black);
  padding: 1rem;
}

.edit-source-card button {
  width: 50%;
  height: calc(100% - 1rem);
  margin-top: 1rem;
  grid-column: 2 / 3;
  justify-self: end;
}

/* Progress bar */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--main);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--main), 0 0 5px var(--main);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--main);
  border-left-color: var(--main);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries */

@media screen and (max-width: 900px) {
  body {
    padding: 0.5rem;
  }

  header {
    margin-top: 0rem;
  }

  .news {
    grid-template-columns: 1fr;
  }

  .sources-card {
    flex-direction: column;
  }

  .sources-card .buttons {
    display: flex;
    flex-direction: column;
  }

  .sources-card .buttons button {
    margin-top: 1rem;
    margin-left: 0;
  }

  .edit-source-card fieldset {
    display: block;
  }

  .edit-source-card button {
    width: 100%;
  }
}
